#web-app {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display: none;
}
#close {
	display: none;
	position:fixed;
	top:0;
	right: 5%;
	z-index: 5;
}
#open {
	float: right;
}
.switchMode {
	
	/* margin-top: 40px; */
	padding: 10px;
	color: rgb(61,181,41);
	border: none;
	/* border-radius: 4px; */
	/* color: white; */
	font-size: 15px;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}
.switchMode:hover {
	color: silver;
}
.switchMode:focus {
	outline: none;
}


.screenshots_wrapper {
	
}

.screenshots_wrapper img {
	width: 30%;
}

.app_icons_wrapper {
	margin-top: 10px;
}

.app_icons_wrapper img {
	width: 200px;
	height: 66px;
	cursor: pointer;
	border-radius: 12px;
	background-color: grey;
}

#img_web_app {
	margin-left: 120px;
}

.app_icons_wrapper img:hover {
	background-color: rgb(61,181,41);
};